<!-- Integrate bootstrap into your app to display a list of students with their pictures -->

<h1>CTD Rails 2013</h1>

<div class="container">
  <ul class="thumbnails">

    <% @students.each do |student| %>
      <li class="span4">
        <div class="thumbnail">
          <img src="<%= student.picture_url %>" alt="">
          <h3><%= student.full_name %></h3>
        </div>
      </li>
    <% end %>
  </ul>

</div>
